.tabList{
    /* background-color: green; */
    width: 800px;
    padding: 1rem;
}

.tabHeader{
    width: 100%;
    height: 50px;
    background-color: var(--light-bg);
    overflow-y: scroll;
    position: relative;
    border-radius: 50px;
    padding: 0px 4px;
}

.tabHeader::-webkit-scrollbar{
    display: none;
}

.tabsStripe{
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.tabsStripe button[data-active='true']{
    background-color: var(--accent-color);
    border-radius: 20px;
}

.tabHeader .btn{
    z-index: 5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    height: 100%;
}

.tabHeader .prev-btn{
    left: 0;
    background: linear-gradient(to left, var(--light-bg) 5%, var(--dark-bg) 95%);
}

.tabHeader .next-btn{
    right: -0;
    background: linear-gradient(to right, var(--light-bg) 5%, var(--dark-bg) 95%);

}

.tabHeader .btn button:hover{
    color: var(--accent-color);
}


.tabContent{
    margin-top: 2rem;
    height: 300px;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.tabContentImage{
    height: 100%;
}

.tabContentImage img{
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.tabContentDesc{
    padding-top: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tabContentDesc div:nth-child(2){
    font-size: 3rem;
    text-align: center;
    color: var(--light-bg);
    font-weight: bold;
}